{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log-in Section</title>
    <link href="{% static 'login.css' %}" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="header-right">
            <a href="/">Home</a>
            <a href="/sign">Sign-in</a>
        </div>
    </div>

    <!-- login section start from here -->
    
    <!-- login section end here -->
</body>
</html>