{% load static %}
<html>
<head>
    <meta charse="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign-up page</title>
    <link href="{% static 'sign.css' %}" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="header-right">
            <a href="/">Home</a>
            <a href="login">Log-in</a>
        </div>
    </div>

    <div class="heading">
        <h1>Register</h1>
        <p>Please create your account here</p>
    </div>

    <!-- Sign up section start from here -->
    <div class="container">
            <form action="/login" method="post">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" placeholder="Enter email here" required>

                <label for="psw">Password:</label>
                <input type="password" id="psw" name="psw" placeholder="Enter password here" required>

                <label for="psw-repeat">Repeat Password:</label>
                <input type="password" id="psw-repeat" name="psw-repeat" placeholder="Repeat Password" required>

                <button class="registerbtn" type="submit">Submit</button>
            </form>
        </div>
    <!-- Sign up section end from here -->
</body>
</html>